html,
body {
  height: 100%;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.filter-dropdown {
  &.show {
    display: flex;
  }

  flex-direction: column;
  max-height: 400px;
  overflow: hidden;
}