<form class="card" [formGroup]="newsForm" (ngSubmit)="onSubmit(newsForm)">
  <div class="card-body">
    <div class="card">
      <div class="card-header d-flex align-items-center">News Details</div>
      <div class="card-body">
        <div class="row g-3">
          <div class="col-lg-7">
            <div class="row g-3">
              <!-- News Subject -->
              <div class="col-12">
                <label for="subject" class="form-label"
                  >Subject<small class="text-danger">*</small>
                </label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter the subject"
                  formControlName="subject"
                  [class.is-invalid]="validateField('subject')"
                />
                <div class="invalid-feedback">This field is required</div>
              </div>
              <!-- End: News Subject -->

              <!-- Dates and Day -->
              <div class="col-md-4 col-sm-6">
                <label for="fromDate" class="form-label"
                  >From Date<small class="text-danger">*</small></label
                >
                <input
                  type="text"
                  placeholder="From Date"
                  class="form-control"
                  formControlName="fromDate"
                  [class.is-invalid]="validateField('fromDate')"
                  bsDatepicker
                  [maxDate]="maxDate"
                  [bsConfig]="{
                    containerClass: 'theme-default',
                    showWeekNumbers: false
                  }"
                />
                <div class="invalid-feedback">This field is required</div>
              </div>
              <div class="col-md-4 col-sm-6">
                <label for="toDate" class="form-label"
                  >To Date<small class="text-danger">*</small></label
                >
                <input
                  type="text"
                  placeholder="To Date"
                  class="form-control"
                  formControlName="toDate"
                  [class.is-invalid]="validateField('toDate')"
                  bsDatepicker
                  [minDate]="newsForm.get('fromDate')?.value"
                  [maxDate]="maxDate"
                  [bsConfig]="{
                    containerClass: 'theme-default',
                    showWeekNumbers: false
                  }"
                />
                <div class="invalid-feedback">This field is required</div>
              </div>
              <div class="col-md-4 col-sm-6">
                <label for="days" class="form-label"
                  >Day(s)<small class="text-danger">*</small></label
                >
                <input
                  type="number"
                  class="form-control"
                  placeholder="Enter the day(s)"
                  formControlName="days"
                  [class.is-invalid]="validateField('days')"
                />
                <div class="invalid-feedback">This field is required</div>
              </div>
              <!-- End: Dates and Day -->

              <!-- No. of people and Anchor Name and Related Wing(s) -->
              <div class="col-sm-6">
                <label for="noOfPeople" class="form-label"
                  >No. Of People<small class="text-danger">*</small></label
                >
                <input
                  type="number"
                  class="form-control"
                  placeholder="Enter the number of people"
                  formControlName="noOfPeople"
                  [class.is-invalid]="validateField('noOfPeople')"
                />
                <div class="invalid-feedback">This field is required</div>
              </div>
              <div class="col-sm-6">
                <label for="anchorName" class="form-label"
                  >Anchor Name<small class="text-danger">*</small></label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter the anchor name"
                  formControlName="anchorName"
                  [class.is-invalid]="validateField('anchorName')"
                />
                <div class="invalid-feedback">This field is required</div>
              </div>
              <div class="col-12">
                <label for="departmentOrWing" class="form-label"
                  >Department(s)/Related Wing(s)</label
                >
                <app-multi-select
                  [data]="DepartmentAndWingList"
                  bindLabel="name"
                  bindValue="id"
                  [isShowTag]="true"
                  formControlName="departmentOrWing"
                ></app-multi-select>
              </div>
              <!-- End: No. of people and Anchor Name and Related Wing(s) -->
            </div>
          </div>

          <!-- News Details -->
          <div class="col-lg-5">
            <div class="row h-100">
              <div class="col-12 d-flex flex-column flex-grow-1">
                <label for="newsDescription" class="form-label flex-shrink-0"
                  >Description<small class="text-danger">*</small></label
                >
                <textarea
                  name="newsDescription"
                  class="form-control flex-grow-1"
                  rows="8"
                  placeholder="Enter the news description"
                  formControlName="newsDescription"
                  [class.is-invalid]="validateField('newsDescription')"
                ></textarea>
                <div class="invalid-feedback flex-shrink-0">
                  This field is required
                </div>
              </div>
            </div>
          </div>
          <!-- End: News Details -->
        </div>
      </div>
    </div>

    <!-- Guest Details -->
    <div class="card mt-3">
      <div class="card-header d-flex align-items-center">
        Guest Details
        <button
          type="button"
          class="btn btn-sm btn-outline-primary d-flex align-items-center ms-auto"
          (click)="onAddNewGuest()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-plus-lg me-1"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"
            />
          </svg>
          Add New Guest
        </button>
      </div>
      <div class="card-body" formArrayName="guestDetails">
        <div
          class="row g-3"
          [formGroupName]="i"
          [ngClass]="{ 'mt-3 border-top border-1 border-dark': !isFirst }"
          *ngFor="
            let guestDetail of guestDetails.controls;
            let i = index;
            first as isFirst
          "
        >
          <div class="col-lg-3 col-sm-6">
            <label for="name" class="form-label"
              >Guest Name<small class="text-danger">*</small></label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Enter the guest name"
              formControlName="guestName"
              [class.is-invalid]="validateField('guestName', guestDetail)"
            />
            <div class="invalid-feedback">This field is required</div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <label for="identification" class="form-label"
              >Guest Identification<small class="text-danger">*</small></label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Enter the guest identification"
              formControlName="identification"
              [class.is-invalid]="validateField('identification', guestDetail)"
            />
            <div class="invalid-feedback">This field is required</div>
          </div>
          <div class="col">
            <label for="speechDescription" class="form-label"
              >Speech Description</label
            >
            <textarea
              name="speechDescription"
              class="form-control flex-grow-1"
              rows="1"
              placeholder="Enter guest's speech description"
              formControlName="speechDescription"
            ></textarea>
            <div class="invalid-feedback">This field is required</div>
          </div>
          <div class="col-sm-auto" *ngIf="guestDetails.controls.length > 1">
            <p class="form-label invisible d-sm-block d-none">Delete Button</p>
            <button
              type="button"
              class="btn btn-danger ms-auto"
              (click)="deleteGuestDetails(i)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End: Guest Details -->

    <!-- Centre Details -->
    <div class="card mt-3">
      <div class="card-header d-flex align-items-center">Centre Details</div>
      <div class="card-body" formGroupName="centerDetails">
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="centreName" class="form-label"
              >Centre Name<small class="text-danger">*</small></label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Enter the centre name"
              formControlName="centreName"
              [class.is-invalid]="validateField('centerDetails.centreName')"
            />
            <div class="invalid-feedback">This field is required</div>
          </div>
          <div class="col-sm-6">
            <label for="centreIncharge" class="form-label"
              >Centre Incharge<small class="text-danger">*</small></label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Enter the centre incharge name"
              formControlName="centreIncharge"
              [class.is-invalid]="validateField('centerDetails.centreIncharge')"
            />
            <div class="invalid-feedback">This field is required</div>
          </div>
          <div class="col-md-4 col-sm-6">
            <label for="zoneName" class="form-label"
              >Zone Name<small class="text-danger">*</small></label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Enter the zone name"
              formControlName="zoneName"
              [class.is-invalid]="validateField('centerDetails.zoneName')"
            />
            <div class="invalid-feedback">This field is required</div>
          </div>
          <div class="col-md-4 col-sm-6">
            <label for="district" class="form-label"
              >District<small class="text-danger">*</small></label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Enter the district"
              formControlName="district"
              [class.is-invalid]="validateField('centerDetails.district')"
            />
            <div class="invalid-feedback">This field is required</div>
          </div>
          <div class="col-md-4 col-sm-6">
            <label for="areaName" class="form-label"
              >City/Area Name<small class="text-danger">*</small></label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Enter the city/area name"
              formControlName="areaName"
              [class.is-invalid]="validateField('centerDetails.areaName')"
            />
            <div class="invalid-feedback">This field is required</div>
          </div>
        </div>
      </div>
    </div>
    <!-- End: Centre Details -->

    <!-- Attachments -->
    <div class="card mt-3" formArrayName="files">
      <div class="card-header d-flex align-items-center">Attachments</div>
      <div class="card-body">
        <div class="row g-2">
          <div class="col-sm-6">
            <input
              class="form-control"
              type="file"
              #uploadFile
              multiple
              (change)="onFileChange($event)"
            />
          </div>
          <div class="col-sm-6">
            <!-- Add Video Links -->
            <div class="d-flex align-items-center">
              <input
                class="form-control"
                type="text"
                placeholder="Add YouTube embed video link"
                #videoLink
              />
              <button
                type="button"
                class="btn btn-primary flex-shrink-0 ms-2"
                (click)="addVideo()"
              >
                Add Video
              </button>
            </div>
            <!-- End: Add Video Links -->
          </div>
        </div>
        <ul class="list-unstyled my-0 row g-3" *ngIf="uploadedFiles().length">
          <li
            class="col-lg-2 col-md-3 col-sm-4"
            *ngFor="let file of uploadedFiles(); let i = index"
            [formGroupName]="i"
          >
            <div class="position-relative">
              <ng-container *ngIf="file.fileName != 'Video'; else elseBlock">
                <figure class="figure d-block m-0">
                  <img
                    [src]="file.fileURL"
                    [alt]="file.fileName"
                    class="figure-img selected-img rounded mb-1"
                  />
                </figure>
              </ng-container>
              <ng-template #elseBlock>
                <iframe
                  class="rounded"
                  width="100%"
                  height="100"
                  title="Video Iframe"
                  [src]="file.fileURL | safe"
                >
                </iframe>
              </ng-template>
              <textarea
                rows="3"
                class="form-control"
                formControlName="fileDescription"
                placeholder="Enter the file description"
              ></textarea>
              <button
                class="btn btn-danger position-absolute top-0 end-0"
                (click)="removeFile(i)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"
                  />
                  <path
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"
                  />
                </svg>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End: Attachments -->
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <!-- Back button -->
      <a
        type="button"
        class="btn btn-secondary d-flex align-items-center"
        routerLink="/news"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-arrow-left me-2"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
          />
        </svg>
        Back
      </a>
      <!-- Back button -->

      <!-- Save Button -->
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!newsForm.valid"
      >
        Submit
      </button>
      <!-- End: Save Button -->
    </div>
  </div>

  <!-- Dynamically add Confirmation Popup -->
  <ng-template appModalHost></ng-template>
  <!-- End: Dynamically add Confirmation Popup -->
</form>
