.selected-img {
  height: 100px;
  width: 100%;
}

.card-img-top {
  height: 180px;
}

.view-large-img {
  position: relative;

  &::after {
    @include border-top-radius();
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba($black, 0.5);
    position: absolute;
    inset: 0;
    opacity: 0;
    transform: scale(0);
    transition: $transition-base;
  }

  .view-img-link {
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transition: $transition-base;
    cursor: pointer;
    z-index: 1;

    .bi-zoom-in {
      fill: $white;
    }
  }

  &:hover {

    &::after,
    .view-img-link {
      opacity: 1;
      transform: scale(1);
    }
  }
}