<div class="container-xxxl my-3">
  <div class="d-flex flex-column">
    <!-- Action Area -->
    <div class="d-flex mb-2">
      <!-- Back button -->
      <a
        *ngIf="isShowCancel"
        class="btn btn-secondary d-flex align-items-center"
        [routerLink]="['/news']"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-arrow-left me-2"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
          />
        </svg>
        Back
      </a>
      <!-- Back button -->

      <!-- Add New Button -->
      <div class="flex-shrink-0 ms-auto" *ngIf="!isShowCancel">
        <a routerLink="new" class="btn btn-primary d-flex align-items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-plus-lg me-2"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"
            />
          </svg>
          Add New
        </a>
      </div>
      <!-- End: Add New Button -->
    </div>
    <!-- End: Action Area -->
    <router-outlet></router-outlet>
  </div>
</div>
