<nav class="navbar navbar-expand bg-primary bg-opacity-10">
  <div class="container-xxxl">
    <div class="d-flex align-items-center justify-content-between flex-grow-1">
      <a class="navbar-brand" href="#">Daily News</a>

      <div
        class="collapse navbar-collapse flex-grow-0"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav me-auto mb-0 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              routerLink="/home"
              routerLinkActive="active"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              routerLink="/news"
              routerLinkActive="active"
              >News</a
            >
          </li>
        </ul>
      </div>

      <!-- OAuth Authentication -->
      <div class="d-flex align-items-center">
        <div class="dropdown user-profile" *ngIf="auth.user$ | async as user">
          <button
            class="btn btn-link d-flex align-items-center text-dark text-decoration-none"
            type="button"
            appDropdown
            #dropdown="dropdownDirective"
          >
            <img
              height="25"
              width="25"
              class="rounded-circle"
              [src]="user.picture"
              [alt]="user.name"
            />
            <span class="user-name fw-medium ls-0 ms-2">{{ user.name }}</span>
          </button>
          <ul
            class="dropdown-menu dropdown-menu-end"
            [class.show]="dropdown.isShow"
          >
            <li>
              <a class="dropdown-item cursor-pointer" (click)="onClickLogout()"
                >Logout</a
              >
            </li>
          </ul>
        </div>
        <ng-template #loggedOut>
          <button
            type="button"
            class="btn btn-primary px-4"
            (click)="onClickLogin()"
          >
            Log in
          </button>
        </ng-template>

        <ng-container *ngIf="!(auth.isAuthenticated$ | async)">
          <button
            type="button"
            class="btn btn-primary px-4"
            (click)="onClickLogin()"
          >
            Log in
          </button>
        </ng-container>
      </div>
      <!-- End: OAuth Authentication -->
    </div>
  </div>
</nav>
