<div class="modal-backdrop fade show"></div>
<div class="modal show d-block" tabindex="-1" (keyup.esc)="closedModal()">
  <div class="modal-dialog" #modalRef>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ modalData.title }}
        </h5>
        <button
          appFocus
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closedModal()"
        ></button>
      </div>
      <div class="modal-body">
        {{ modalData.content }}
      </div>
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="handleYes()"
        >
          Yes
        </button>
        <button type="button" class="btn btn-primary" (click)="closedModal()">
          No
        </button>
      </div>
    </div>
  </div>
</div>
