<div class="container-xxxl my-3">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">Welcome to the News Application</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam dicta
      molestiae ut incidunt consequatur dolore delectus soluta labore maiores
      quaerat sapiente, illo necessitatibus. Officia, minima sit? Inventore
      labore minima repellat?
    </p>
    <div class="d-inline-flex gap-2 mb-3">
      <a type="button" class="btn btn-primary" routerLink="/news"
        >Check the News List</a
      >
    </div>
  </div>
</div>
