<div class="container-xxxl my-3 placeholder-glow">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="placeholder bg-secondary col-6 mb-3"></h1>
    <p class="col-lg-8 placeholder bg-secondary mx-auto text-muted"></p>
    <p class="col-lg-8 placeholder bg-secondary mx-auto text-muted"></p>
    <p class="col-lg-8 placeholder bg-secondary mx-auto text-muted"></p>
    <p class="col-lg-5 placeholder bg-secondary mx-auto text-muted"></p>
    <div class="mb-3">
      <a type="button" class="btn btn-primary disabled placeholder col-2"></a>
    </div>
  </div>
</div>
